.sort-header {
  display: flex;
  justify-content: space-between;
  i {
    padding: 0 2px;
    cursor: pointer;
  }
}

.add-new {
  align-items: center;
  justify-content: space-between;
  .group-btns {
    display: flex;
    gap: 5px;
  }
}

.customize-table {
  overflow-x: auto;
}

.pagination {
  justify-content: center;
}
